ol li {
    font-weight: bold;
  }


#textoverde{
    color: green;
}

h1,h2,h3{
    background-color: aqua;
}


p{
    color: yellow;
}

a:hover{
    background-color: aquamarine;
}
span:last-child{
    font-size: 30px;
}
